<%- contentFor('body')	%>
	<!--light-box-files -->
		<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-bottom a').Chocolat();
		});
		</script>
		<style>
		img {
			display: block;
			max-width: auto;
			height: 100px;
		}
		</style>
	<!--gallery-starts--> 
	<div class="gallery" id="gallery">
		<div class="container">
				<h3>Gallery</h3>
				 <h5>Happy Moments in ur Life</h5>
				 <div class="chocolat-parent gallery-bottom">
					<div class="img-thumbnail">
						<a href="images/g1.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g1.jpg" alt="name" />
						</a>
					</div>
					<div class="img-thumbnail">
						<a href="images/g2.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g2.jpg" alt="name" />
						</a>
					</div>
					<div class="img-thumbnail">
						<a href="images/g7.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g7.jpg" alt="name" />
						</a>
						
					</div>
					<div class="clearfix"></div>
					<div class="img-thumbnail">
						<a href="images/g7.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g1.jpg" alt="name" />
						</a>
						
					</div>
					<div class="img-thumbnail">
						<a href="images/g9.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g2.jpg" alt="name" />
						</a>
						
					</div>
					<div class="img-thumbnail">
						<a href="images/g9.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g9.jpg" alt="name" />
						</a>
						
					</div>
				
					<div class="img-thumbnail">
						<a href="images/g9.jpg" class = "chocolat-image" title = "Lorem ipsum">
							<img src="images/g9.jpg" alt="name" />
						</a>
						
					</div>
				</div>
		</div>
	</div>	
	<!--gallery-->