<%- contentFor('body') %>
<!--/welcome-->
	<div class="welcome-section">
		<div class="container">
			<div class="wel-text">
			   <h3>Welcome!</h3>
			   <h4>A Good Strategy Will Carry You Right Through Retirement</h4>
			   <p>Koleacene anritma hasesera deyuleser kertyase socis natoqu eagnis dist mte dulmuese feugiata lecenaser stricies phaledat nas seasnec sit amm easer erment. Utdolores urliquamiserat vpstas kertyase fertase lacus uisque nullakeirta bertyasera ferrode buytasas leriuyase misutasa doloetuytse.</p>
			     <p>Koleacene anritma hasesera deyuleser kertyase socis natoqu eagnis dist mte dulmuese feugiata lecenaser stricies phaledat nas seasnec sit amm easer erment. Utdolores urliquamiserat vpstas kertyase fertase lacus uisque nullakeirta bertyasera ferrode buytasas leriuyase misutasa doloetuytse.</p>
			</div>
		</div>
	</div>
<!--/news-->
<!--/services-->
	<div class="service-section" id="service">
		<div class="container">
				<h3>Services</h3>
				<h5>Making Your Life Easier</h5>
			<div class="serve-grids">
				<div class="col-md-6 service-grid">
					<div class="icon">
						<i class="s1"> </i>
					</div>
					<div class="icon-text">
						<h4>Location</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 service-grid">
					<div class="icon">
						<i class="s2"> </i>
					</div>
					<div class="icon-text">
						<h4>PLANNING</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 service-grid">
					<div class="icon">
						<i class="s3"> </i>
					</div>
					<div class="icon-text">
						<h4>bank services</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 service-grid">
					<div class="icon">
						<i class="s4"> </i>
					</div>
					<div class="icon-text">
						<h4>INVESTMENT</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="clearfix"> </div>
				</div>

			 <div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--/insurance-->
	<div class="insurance-section" id="insurance">
		<div class="container">
			<h3>Insurance</h3>
			<h5>Protect in ur Life</h5>
			<div class="insurance-grids">
				<div class="col-md-6 insurance-grid">
						<img src="images/i1.jpg" title="couple" />
				</div>
				<div class="col-md-6 insurance-grid">
						<img src="images/i2.jpg" title="couple" />
				</div>
				 <div class="clearfix"></div>
			</div>
			<h4>Protection</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
			<ul class="insure">
			   		<li><a href="#"><i class="tick"></i></a>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
			   		<li><a href="#"><i class="tick"></i></a>Cras bibendum ornare mauris porta aliquam</li>
			   		<li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam</li>
			   		<li><a href="#"><i class="tick"></i></a>Suspendisse imperdiet sapien eu metus adipiscing</li>
			   		<li><a href="#"><i class="tick"></i></a>Maecenas quis rutrum quam, ut vulputate quam.</li>
			   		<li><a href="#"><i class="tick"></i></a>Mauris accumsan at leo ut fringilla. In bibendum varius nulla at ornare.</li>
			   	</ul>

	</div>
</div>
<!--/news-->
	<div class="news-section" id="news">
		<div class="container">
		 <h3>News & Events</h3>
		 <h5>Happy Moments in ur Life</h5>
			<div class="news-grids">
				<div class="col-md-6 news-grid">
					<div class="col-md-6 news-img">
						<img src="images/n1.jpg" title="couple" />
					</div>
					<div class="col-md-6 news-text">
						<span class="event-date">Dec 14th <span class="event-year">2015</span></span>
						<h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
						<p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise nlasce doleruytas</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 news-grid">
					<div class="col-md-6 news-img">
					<img src="images/n2.jpg" title="couple" />
					</div>
					<div class="col-md-6 news-text">
						<span class="event-date">Dec 14th <span class="event-year">2015</span></span>
						<h4>KERPTMSE QUI NESCIUSES IDOLORES</h4>
						<p>Katrsas lasuytasa mauystades Lundg kertaseares lmasetu segiat malesui tyuadede ferteras mise nlasce doleruytas</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--light-box-files -->
		<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery-bottom a').Chocolat();
		});
		</script>
	<!--gallery-starts--> 
	<div class="gallery" id="gallery">
		<div class="container">
				<h3>Gallery</h3>
				 <h5>Happy Moments in ur Life</h5>
			<div class="gallery-bottom">
					<div class="col-md-4 gallery-left">
						<a href="images/g1.jpg">
							<img src="images/g1.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g2.jpg">
							<img src="images/g2.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g3.jpg">
							<img src="images/g3.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g4.jpg">
							<img src="images/g4.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g6.jpg">
							<img src="images/g6.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g5.jpg">
							<img src="images/g5.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g1.jpg">
							<img src="images/g1.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g2.jpg">
							<img src="images/g2.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g3.jpg">
							<img src="images/g3.jpg" alt="name" />
						</a>
					</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!--gallery-->

	<%- contentFor('mapncontact') %>
		<!--contact-->
		<div class="contact" id="contact">
		   <div class="container">
				<h3>Contact Us</h3>
				<h5>Duis autem vel eum iriure dolor in hendrerit.</h5>
				<div class="contact-form">
					<div class="col-md-6 contact-grid">
						<h4>contact form</h4>
						<form>
							<p class="your-para">Your mail:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your mail:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your message:</p>
							<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
							<div class="send">
								<input type="submit" value="Send" >
							</div>
						</form>
					</div>
					<div class="col-md-6 contact-in">
						<h4>contact information</h4>
						<p class="sed-para"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor.</p>
						<p class="para1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p>
						<div class="more-address"> 
							<div class="address-more">
								<p>My company name,</p>
								<p>Lorem ipsum dolor,</p>
								<p>Jasmin Dr 40 Fe 72. </p>
							</div>
							<div class="address-left">
								<p>Tel:1115550001</p>
								<p>Fax:190-4509-494</p>
								<p><a href="mailto:info@example.com">mail@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						  </div>
					</div>
					<div class="clearfix"> </div>
			  </div>
		</div>
	</div>
	<!--map-->
    <div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675115.8258740564!2d-98.4671417929578!3d34.91371150021706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1434956093308" frameborder="0" style="border:0" allowfullscreen></iframe>
	<div class="copy">
		<p>&copy; 2015 Rest. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
	</div>
	<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>